

<div class="group">
     {% content_for 'blocks' %}
</div>

{% schema %}
{
    "name": "Group",
    "blocks": [
        {
            "type": "@theme",
        }
    ],
    "presets": [
        {
            "name": "Group",
            "category": "Custom Sections",
            "category": "layout"
        }
    ],
    "settings": [],
}
{% endschema %}