<html>
    <head>
        {{ content_for_header }}
        <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}">
    </head>
    <body>
        {% sections 'header-group' %} 
        {{ content_for_layout }}

        {% section 'footer' %}
    </body>
</html>
