:root {
    --accent-color: #a3905bff;
    --font-main: 'Inter', Arial, sans-serif;    
    --font-menu: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
    --color-main: #222;
    --color-accent: #B7A266;
}